.label > LabeledText, .button > LabeledText {
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.5, 0, 0);
}

.label, .button {
    -fx-font-family: "Droid Serif";
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.button {
    -fx-font-size: 14;
}

#tooltip, #destroy-dialog {
    -fx-padding: 10;
    -fx-background-color: rgba(50, 50, 50, 0.6);
    -fx-background-radius: 5;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-color: rgba(200, 200, 200, 0.7);
    -fx-border-radius: 5;
}

#destroy-dialog {
    -fx-spacing: 10;
}

#destroy-dialog .label {
    -fx-max-width: 10000;
    -fx-alignment: center;
}

#destroy-dialog HBox {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.inventory {
    -fx-pref-columns: 2;
    -fx-hgap: 2;
    -fx-vgap: 2;
}

#gear-pane {
    -fx-pref-columns: 4;
}

#slot-description {
    -fx-font-size: 10;
    -fx-alignment: center;
}

#stack-indicator {
    -fx-alignment: bottom-right;
}

#char-pane .label {
    -fx-alignment: center;
}

#name-label {
    -fx-font-size: 18;
}

#level-label {
}

#hp-label, #mana-label {
    -fx-font-size: 13;
}

.progress-bar .track {
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-border-width: 1;
}

.progress-bar .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 1;
}

#hp-bar .bar {
    -fx-background-color: red;
}

#mana-bar .bar {
    -fx-background-color: blue;
}
